/* -----------------------------------------------------------------------------
Стиль левого меню
----------------------------------------------------------------------------- */
span.MenuLeft {
	color:			#505050;
	font-weight:		bold;
}

div.MenuLeft {
	border-bottom:		1px dotted #DCDCDC;
}

a.MenuLeft:link {
	/* No more...*/
}

a.MenuLeft:visited {
	/* No more...*/
}

a.MenuLeft:hover {
	/* No more...*/
}

/* -----------------------------------------------------------------------------
Стиль верхней панели и меню
----------------------------------------------------------------------------- */
a.TopPanelPick:link {
	color:			#F07D00;
}

a.TopPanelPick:visited {
	color:			#F07D00;
}

a.TopPanelPick:hover {
	color:			#F07D00;
}

input.TopPanel {
	background-color:	transparent;
	border:			none;
	padding:		2px;
}

/* -----------------------------------------------------------------------------
Пользовательская фотография
----------------------------------------------------------------------------- */
img.UserFoto {
	border:			1px solid #DCDCDC;
	height:			110px;
}

/* -----------------------------------------------------------------------------
Формат обсуждений и сообщений
----------------------------------------------------------------------------- */
/* цитата */
div.QuoteText{
	border:			1px solid #7799E6;
	background-color:	#E3EAFA;
	padding:		2px 5px 2px 5px;
}
/* код */
div.CodeBox{
	color:			#2E8B57;
	overflow:		auto;
	display:		block;
	height:			auto;
	max-height:		1000px;
	max-width:		50%;
	padding:		5px 3px;
	font:			0.9em Monaco, "Andale Mono","Courier New", Courier, monospace;
	line-height:		0.6em;
	background-color:	#FFFFFF;
	border:			1px solid #C9D2D8;
	background-color:	#FFFFFF;
}

/* скрытый текст */
div.LockText {
	border:			1px solid #FF0000;
	background-color:	#FFE4E1;
	padding:		2px 5px 2px 5px;
}

/* ------------------------- */
#ClauseImage {
	cursor:			pointer;
	border:			5px solid #F9E47D;
	-webkit-border-radius:	5px;
	-moz-border-radius:	5px;
	border-radius:		5px;
}

.WhoisInfo {
	display:		block;
	background-color:	whitesmoke;
	border:			1px #DCDCDC solid;
	font-weight:		bold;
	font-size:		14px;
	border-right-width:	0px;
	border-left-width:	0px;
}

.WhoisInfo ul {
	display:		block;
	float:			left;
	padding:		0px;
	margin:			0px;
	width:			100%;
}

.WhoisInfo li {
	float:			left;
	border-bottom-width:	1px;
	border-bottom-color:	#DCDCDC;
	border-bottom-style:	solid;
	list-style:		none;
	height:			20px;
	padding-left:		40px;
	padding-top:		10px;
	padding-bottom:		10px;
	margin:			0px;
}

pre.Whois {
	display:		block;
	width:			100%;
	background-color:	#FFFFFF;
}

/* added by lissyara, for JBS-11 */
img.TicketSmall {
	max-width:		100%;
	cursor:			pointer;
}

img.TicketOrig {
	max-width:		none;
	cursor:			pointer;
}

/* новый интерфейс оплаты */
ul.pp-showcases{
	list-style:		none;
	margin:			0 0 -20px 20px;
	padding:		0;
	font-size:		12px;
	overflow:		hidden;
}

ul.pp-showcases li{
	float:			left;
	width:			148px;
	margin:			0 20px 20px 0;
	border:			1px solid #d3d3d3;
	-webkit-box-shadow:	0 1px 2px 0 rgba(0,0,0,.5);
	box-shadow:		0 1px 1px 0 rgba(0,0,0,.1);
}
ul.pp-showcases li:hover{
	float:			left;
	width:			148px;
	margin:			0 20px 20px 0;
	border:			1px solid #c3c3c3;
	-webkit-box-shadow:	none;
	box-shadow:		none;
}
pp-rounded-5px{
	-webkit-border-radius:	5px;
	-moz-border-radius:	5px;
	border-radius:		5px;
}

/* прячем кнопку "назад", в тикетнице */
#EdeskBackButton        { display: none; }
/* прячем вторую кнопку оплаты счёта, в не-мобильном варианте */
#MobilePaymentButton	{ display: none; }
/* скрываем элементы корзины, в НЕ мобильной версии */
#BasketServiceCode	{ display: none; }


div.MainMenu {
	background-color:	Beige;
	border:			1px solid gray;
	padding:		2px;
	margin:			2px;
	float:			left;
	min-width:		calc(50% - 12px);
	display:		inline-block;
	min-height:		20px;
	text-align:		center;
	vertical-align:		middle;
}

div.MainMenu:hover{
	border:			1px solid blue;
	/*background-color:	LightGrey;*/
	background-color:	#ccbbff;
	cursor:			pointer;
	text-shadow:		0 0 .65px #333, 0 0 .65px #333;
}

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/* see http://forum.lissyara.su/viewtopic.php?f=17&t=37569 */
div.LeftDiv {
	float:			left;
	white-space:		normal;
}

/*-------------------------------------------------------------------------------*/
div.RightDiv {
	float:			right;
	overflow:		hidden;
	white-space:		normal;
}

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/* добавлено 2022-09-01 в 11:13 MSK, Alex Keda
 * стиль для кнопок входа через социальные сети
 * */
.SocialLoginIcons {
	display:		flex;
	justify-content:	space-between;
	/*margin-top: 1.5rem;*/
}
.SocialLoginIcons a {
	color:			inherit;
	cursor:			pointer;
	display:		block;
	width:			2.5rem;
	height:			2.5rem;
	padding:		.5rem;
	border-radius:		50%;
	background-color:	rgba(50,50,50,.05);
	margin-right:		0.5rem
}
/*-------------------------------------------------------------------------------*/
.Social_Yandex::before {
	content:		"\e925";
}
.Social_Google::before {
	content:		"\e924";
}
.Social_VK::before {
	content:		"\e906";
}
.Social_OK::before {
	content:		"\e900";
}
.Social_MailRu::before {
	content:		"\e923";
}
.SocialYandex:hover{background-color:red}
.SocialGoogle:hover{background-color:#005ff9}
.SocialVK:hover{background-color:#48729e}
.SocialOK:hover{background-color:#eb722e}
.SocialMailRu:hover{background-color:#005ff9}
/*-------------------------------------------------------------------------------*/
[class^="Social_"], [class*=" Social_"] {
	font-family: icons !important;
	speak: never;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="Social_"]::before, [class*=" Social_"]::before {
	line-height: 1.5rem;
	font-size: 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	vertical-align: top;
}
/*-------------------------------------------------------------------------------*/
*, ::before, ::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*-------------------------------------------------------------------------------*/
/* шрифт с иконками соцсетей */
@font-face{
	font-family:icons;
	font-weight:400;
	font-style:normal;
	font-display:block;
	src:url(/styles/billing/Fonts/Icon.woff2?1) format('woff2'),url(styles/billing/Fonts/Icon.woff2?1) format('woff')
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/








