table.TableSuperData {
    background-color:      #FFFFFF;
    border-left:           1px solid #707680;
    border-right:          1px solid #707680;
    border-top:            1px solid #707680;
    color:                 #303030;
    empty-cells:           show;
    margin-bottom:         5px;
    margin-top:            5px;
    font-size:             12px;
    width:                 100%;
}
/* disable, because broken line colors 
table.TableSuperData > tbody > tr:nth-child(odd) {
  background-color: whitesmoke;
}
*/
td.TableSuperHeadUnActive {
    border-bottom:         1px solid #707680;

    background-color:      #DCDCDC;
    background-image:      url(../Images/TableSuperHeadUnActive.png);
    color:                 #505050;
    font-size:             12px;
    padding:               2px 3px 2px 3px;
    text-align:            left;

    white-space:      nowrap;
}
td.TableSuperHeadActive {
    border-bottom:         1px solid #707680;

    background-color:      #505050;
    background-image:      url(../Images/TableSuperHeadUnActive.png);
    color:                 #6F9006;
    cursor:                pointer;
    font-size:             12px;
    padding:               2px 3px 2px 3px;
    text-align:            left;

    white-space:      nowrap;
}
td.TableSuperHeadOrdered {
    border-bottom:         1px solid #707680;

    background-color:      #F9E47D;
    background-image:      url(../Images/TableSuperHeadOrdered.png);
    color:                 #505050;
    cursor:                pointer;
    font-size:             12px;
    padding:               2px 5px 2px 5px;
    text-align:            left;

    white-space:      nowrap;
}
td.TableSuperStandard {
    padding:          2px 3px 2px 3px;
    border-bottom:    1px solid #707680;
    overflow:         visible;
    white-space:      nowrap;
}
td.TableSuperWhite {
    background-color: #FFFFFF;
}
td.TableSuperNoData {
    background-color:      #FFFFFF;
    border:                1px solid #DCDCDC;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
    padding:               5px;
    text-align:            center;
}
/* ------------------------- */
div.TableSuperNavigation {
    margin: 5px 5px 5px 5px;
}
button.TableSuperIndexes {
    text-align: center;
    font-size:  12px;
    width:      30px;
}
/* ------------------------- */
/* ------------------------- */
.HiLightOn{
	background-color: #ccbbff;
}


