/* -----------------------------------------------------------------------------
Стили версий
----------------------------------------------------------------------------- */
ul#versions {
    list-style-type: none;
    margin: 15px;
    padding: 0px;
}

ul#versions li.current {
    border: 1px solid #33CC00;
    border-left-width: 2px;
    margin: 0px;
    padding: 8px 5px 8px;
    font-size: 16px;
    font-weight: bold;
    color: #505050;
    background-color: #F1FCCE;
}

ul#versions li {
    border-bottom: 1px solid #DCDCDC;
    margin: 0px;
    padding: 5px 5px 5px;
    font-size: 16px;
    font-weight: bold;
    color: #505050;
}

ul#versions li div {
    font-weight: normal;
}