<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->

<TR>
	<TD height="25" class="EdeskMessageInfo">
		<DIV style="overflow: hidden; white-space: nowrap;">
			<DIV id="" class="LeftDiv">Сообщение #%MessageID% | %CreateDate% | %User.Name% [%Group.Name%]</DIV>
			<DIV id="" class="RightDiv">%Delete%</DIV>
		</DIV>
	</TD>
	<TD rowspan="2" valign="top" width="90">
		<IMG class="UserFoto" alt="Персональная фотография" height="110" width="90" src="/UserFoto?UserID=%User.ID%" />
		<TABLE width="100%" cellspacing="0" cellpadding="0">
			<TR>
				<TD style="font-size:10px;">%EnterDate%</TD>
				<TD width="51"><IMG alt="Статус пользователя" height="21" width="51" src="SRC:{Images/Icons/%Status%.gif}" style="margin-top:5px;"/></TD>
			</TR>
		</TABLE>
	</TD>
</TR>

<TR>
	<TD height="100" class="EdeskMessageContent" style="background-color:#%BgColor%;">
		<SPAN>%Text%</SPAN>
		<HR />
		<PRE style="font-size:10px;">%User.Sign%</PRE>
	</TD>
</TR>



