<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->

<TR>
	<TD rowspan="2" valign="top" width="90">
		<DIV id="EdeskUserFoto">
			<IMG class="UserFoto" alt="Персональная фотография" height="110" width="90" src="/UserFoto?UserID=%User.ID%" />
			<TABLE width="100%" cellspacing="0" cellpadding="0">
				<TR>
					<TD style="font-size:10px;">%EnterDate%</TD>
					<TD width="51"><IMG alt="Статус пользователя" height="21" width="51" src="SRC:{Images/Icons/%Status%.gif}" style="margin-top:5px;"/></TD>
				</TR>
			</TABLE>
		</DIV>
	</TD>
	<TD height="25" class="EdeskMessageInfo">
		<DIV style="overflow: hidden; white-space: nowrap;">
			<DIV id="" class="LeftDiv">#%MessageID% | %CreateDate% | %UserInfoImage% %User.Name% [%Group.Name%]</DIV>
			<DIV id="" class="RightDiv">%Delete%</DIV>
		</DIV>
	</TD>

</TR>

<TR>
	<TD height="100" class="EdeskMessageContent" style="background-color:#%BgColor%;">
		<SPAN>%Text%</SPAN>
		<HR  size="1" />
		<SPAN style="font-size:10px;">%User.Sign%</SPAN>
	</TD>
</TR>

<TR>
	<TD colspan="2" style="font-size:11px;" class="EdeskMessageInfo">
		<DIV id="EdeskLeftDiv" class="LeftDiv"> </DIV>
		<DIV id="" class="RightDiv">%Links%</DIV>
	</TD>
</TR>

<!-- приаттаченый к тикету файл, если он есть. иначе - пробел -->
%File%

