<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->
<DIV class="EdeskMessageInfo">
	<DIV style="overflow: hidden; white-space: nowrap;">
		<DIV id="" class="LeftDiv">#%MessageID% | %CreateDate% | %UserInfoImage% %User.Name% [%Group.Name%]</DIV>
		<DIV id="" class="RightDiv">%Delete%</DIV>
	</DIV>
</DIV>

<DIV class="PostProfile">
	<DIV id="EdeskUserFoto"><IMG class="UserFoto" alt="Персональная фотография" src="/UserFoto?UserID=%User.ID%" /></DIV>
	<DIV style="width: 92px;">
		<DIV style="font-size:10px; padding: 5px;" class="LeftDiv">%EnterDate%</DIV>
		<DIV style="width: 51px;" class="RightDiv"><IMG alt="Статус пользователя" height="21" width="51" src="SRC:{Images/Icons/%Status%.gif}" style="margin-top:5px;"/></DIV>
	</DIV>
</DIV>

<DIV class="EdeskMessageContent" style="background-color:#%BgColor%;">
	<SPAN>%Text%</SPAN>
	<HR />
	<SPAN style="font-size:10px;">%User.Sign%</SPAN>
</DIV>

<TR>
	<TD class="EdeskMessageInfo" align="right" style="font-size:11px;" width="100%">
		<DIV>
			<DIV id="" class="LeftDiv">%Links%</DIV>
			<DIV id="" class="RightDiv"> </DIV>
		</DIV>
	</TD>
</TR>

<!-- приаттаченый к тикету файл, если он есть. иначе - пробел -->
%File%

<TR>
	<TD height="10" style="border-bottom: 1px solid #707680;"><!-- просто пустая строка, чотбы отделить сообщения одно от другого - в мобильной версии сливаться начинают --></TD>
</TR>


