<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->
Обращаем Ваше внимание, что у Вас имеется скидка в размере <STRONG>%Percent%%</STRONG> на услугу <STRONG>"%Bonus.NameShort%"</STRONG>, в количестве <STRONG>%Bonus.DaysRemainded% %Bonus.Measure%</STRONG> Чтобы воспользоваться скидкой, перейдите в соответствующий <A style="font-weight:bold;" href="/%Bonus.Code%Orders">раздел биллинговой системы</A> и сделайте новый, или продлите текущий заказ на услугу <STRONG>"%Bonus.NameShort%"</STRONG>.
<BR />
Для нового заказа, кликните на ссылку <A style="font-weight:bold;" href="javascript:ShowWindow('/%Bonus.Code%Order');">[новый заказ]</A>
<BR />
<BR />
Увидеть полный список доступных вам бонусов вы можете в разделе "<A style="font-weight:bold;" href="/Bonuses">Бонусы</A>".

