<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->

Обратите внимание, что вы <STRONG>работаете от системного пользователя</STRONG>. Для работы в биллинговой системе, заведите отдельного пользователя с необходимыми правами, а у этого - установите сложный пароль и не пользуйтесь им.<BR /><BR />
Профиль этого пользователя используется как профиль организации (ID профиля = 100), его подпись добавляется ко всем сообщениям отправляемым биллингом, почтовый адрес этого пользователя используется как обратный адрес сообщений биллинга.




