<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->

Обращаем ваше внимание, что у вас имеется оплаченный, но не проведённый счёт <STRONG>#%Invoice.ID%</STRONG>, на сумму <STRONG>%Summ%</STRONG>. Данным счётом оплачены следующие услуги:
<ul class="Standard">
%Items%
</ul>
Чтобы активировались оплаченыне счётом услуги, вам необходимо добавить и подтвердить ваш телефон. Для добавления нажмите <strong><a href="javascript:ShowWindow('/ContactEdit',{MethodID:'SMS'});" onmouseover="PromptShow(event,'Добавить телефон',this);">[добавить]</a></strong>

