<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->

Обращаем ваше внимание, что у вас имеется условно оплаченный счёт <STRONG>#%Invoice.ID%</STRONG>, на сумму <STRONG>%Summ%</STRONG>. Данным счётом будут оплачены следующие услуги:
<ul class="Standard">
%Items%
</ul>
В случае неоплаты данного счёта, средства будут списаны с вашего балланса, при отсутствии средств на баллансе, он станет отрицательным, оказываемые услуги будут заблокированы.
<BR />
Для оплаты счёта нажмите <strong><a href="javascript:ShowWindow('/InvoiceDocument',{InvoiceID:'%Invoice.ID%'});" onmouseover="PromptShow(event,'Просмотреть (оплатить) счёт',this);">[оплатить]</a></strong>

