<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->
Обращаем Ваше внимание, что у Вас имеется 100% скидка на услугу <B>"%Bonus.NameShort%"</B>, тарифный план <B>"%Scheme.Name%"</B>, в количестве <B>%Bonus.DaysRemainded% %Bonus.Measure%</B> Чтобы воспользоваться скидкой, перейдите в соответствующий раздел биллинговой системы и сделайте продлите текущую/сделайте новый заказ на <B>"%Bonus.NameShort%"</B>. Для нового заказа, кликните на ссылку <A style="font-size:14px;font-weight:bold;" href="javascript:ShowWindow('/%Bonus.Code%Order');">[новый заказ]</A>

