<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->
Обращаем Ваше внимание, что у Вас имеется скидка в размере <STRONG>%Percent%%</STRONG> на услугу <STRONG>"%Bonus.NameShort%"</STRONG>, в количестве <STRONG>%Bonus.DaysRemainded% %Bonus.Measure%</STRONG> Чтобы воспользоваться скидкой, перейдите в соответствующий <A style="font-weight:bold;" href="/v2/%Bonus.Code%Orders">раздел биллинговой системы</A> и сделайте новый, или продлите текущий заказ на услугу <STRONG>"%Bonus.NameShort%"</STRONG>.
<BR />
Для нового заказа, кликните на ссылку <A style="font-weight:bold;" href_old="javascript:ShowWindow('/%Bonus.Code%Order');" href="/v2/%Bonus.Code%Schemes">[новый заказ]</A>
<BR />
<BR />
Увидеть полный список доступных вам бонусов вы можете в разделе "<A style="font-weight:bold;" href="/v2/Bonuses">Бонусы</A>".

