<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->

<TABLE cellspacing="0" cellpadding="0">
 <TR>
  <TD width="10">
   <IMG id="TabLeft" style="display:block;" width="10" height="25" src="SRC:{Images/TabLeft%Prefix%.gif}" />
  </TD>
  <TD id="TabCenter" style="white-space:nowrap;background-image:url(SRC:{Images/TabCenter%Prefix%.png});">%Href%</TD>
  <TD width="10">
   <IMG id="TabRight" style="display:block;" width="10" height="25" src="SRC:{Images/TabRight%Prefix%.gif}" />
  </TD>
 </TR>
</TABLE>

