<?xml version="1.0" encoding="utf-8"?>
<!-- @author Бреславский А.В. (Joonte Ltd.) -->
<XML>
<!-- *********************************************************************** -->
<Update>
	<Server>
		<Address>joonte.com</Address>
		<Port>80</Port>
		<Host>joonte.com</Host>
		<Protocol>tcp</Protocol>
		<IsLogging>0</IsLogging>
	</Server>
</Update>
<!-- *********************************************************************** -->
<DBConnection>
	<Server>localhost</Server>
	<Port>3306</Port>
	<User />
	<Password />
	<DbName />
</DBConnection>
<!-- *********************************************************************** -->
<EncryptionKey>387414bcd0862806df84e831b3b6c613</EncryptionKey>
<!-- *********************************************************************** -->
<CSRFKey>7b8ec212e8381a4a443ad010f17586ca</CSRFKey>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Interface>
	<!-- *********************************************************************** -->
	<User>
		<!-- *********************************************************************** -->
		<Notes>
			<!-- *********************************************************************** -->
			<CheckReferer>
				<ShowCheckReferer>1</ShowCheckReferer>
			</CheckReferer>
			<!-- *********************************************************************** -->
		</Notes>
		<!-- *********************************************************************** -->
	</User>
	<!-- *********************************************************************** -->
	<Administrator>
		<!-- *********************************************************************** -->
		<Notes>
			<!-- *********************************************************************** -->
			<CheckTablesEngines>
				<MakeCheckTablesEngines>1</MakeCheckTablesEngines>
			</CheckTablesEngines>
			<!-- *********************************************************************** -->
			<CheckVersion>
				<MakeCheckVersion>1</MakeCheckVersion>
			</CheckVersion>
			<!-- *********************************************************************** -->
			<CheckCache>
				<MakeCheckCache>1</MakeCheckCache>
			</CheckCache>
			<!-- *********************************************************************** -->
			<Tasks>
				<ShowUnExecuted>1</ShowUnExecuted>
				<CheckCronRun>1</CheckCronRun>
				<CronDownTime>1200</CronDownTime>
				<AllowKill>1</AllowKill>
				<KillTimeout>600</KillTimeout>
			</Tasks>
		</Notes>
		<!-- *********************************************************************** -->
	</Administrator>
	<!-- *********************************************************************** -->
</Interface>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Other>
	<!-- *********************************************************************** -->
	<Libs>
		<HTTP>
			<SocketTimeout>60</SocketTimeout>
			<StreamTimeout>240</StreamTimeout>
		</HTTP>
	</Libs>
	<!-- *********************************************************************** -->
	<Modules>
		<Security>
			<IsActive>1</IsActive>
			<ExcludeIPs></ExcludeIPs>
			<IsCheckReferer>1</IsCheckReferer>
			<IsNoReferer>0</IsNoReferer>
			<CSRFCheck>0</CSRFCheck>
			<Hidden>Password,SessionID</Hidden>
		</Security>
	</Modules>
	<!-- *********************************************************************** -->
	<Protocol>
		<UseSSL>0</UseSSL>
	</Protocol>
	<!-- *********************************************************************** -->
	<Upload>
		<MaxFileSize>3</MaxFileSize>
	</Upload>
	<!-- *********************************************************************** -->
</Other>
<!-- *********************************************************************** -->
</XML>
