<?xml version="1.0" encoding="utf-8"?>
<!-- @author Бреславский А.В. (Joonte Ltd.) -->
<XML>
<!-- *********************************************************************** -->
<Cache>
  <Name>APC</Name>
  <IsEnabled>0</IsEnabled>>
</Cache>
<Update>
 <Server>
  <Address>joonte.com</Address>
  <Port>80</Port>
  <Host>joonte.com</Host>
  <Protocol>tcp</Protocol>
  <IsLoggin>0</IsLoggin>
 </Server>
</Update>
<!-- *********************************************************************** -->
<DBConnection>
 <Server>localhost</Server>
 <Port>3306</Port>
 <User />
 <Password />
 <DbName />
</DBConnection>
<!-- *********************************************************************** -->
</XML>
