/* для мобильников */

table thead {
	display: none;
}

tr.TableSuperStandard {
	margin-bottom:	10px;
	display:	block;
	border-bottom:	1px solid #707680;
}

td.TableSuperStandard {
	display:	block;
	text-align:	right;
	border-bottom:	1px solid #707680;
	border-right:	1px solid transparent;
	padding:	12px;
	font-weight:	normal;
}

td.TableSuperStandard:last-child {
	border-bottom:	3px solid #707680;
}

td.TableSuperStandard:before {
	content:	attr(data-label);
	float:		left;
	display:	block;
	/*
	text-transform: uppercase;
	font-weight: bold;
	*/
}

/*
tr.TableSuperStandardMobile {
	display:	block;
}
*/
/* богомерзкие огрызки */
@media only screen and (max-width: 600px){
	tr.TableSuperStandardMobile {
		display:		-webkit-box;
		display:		-ms-flexbox;
		display:		flex;
		-webkit-box-orient:	vertical;
		-webkit-box-direction:	normal;
		-ms-flex-direction:	column;
		flex-direction:		column;
		-webkit-box-pack:	start;
		-ms-flex-pack:		start;
		justify-content:	flex-start;
		-webkit-box-align:	start;
		-ms-flex-align:		start;
		align-items:		flex-start;
	}
	td.TableSuperStandard {
		width:			calc(100% - 25px);
	}
}

/* увеличиваем кнопки */
/*
img.Button {
	width:	44;
}
*/
table {
	font-size:	100%;
	word-wrap:	break-word;
}

/* отображаем кнопку "назад", в тикете */
#EdeskBackButton	{ display: inline-block !important; }

/* прячем кнопки в тикетнице, они не дают окно меньше делать */
#ButtonTextQuote	{ display: none; }
#ButtonImage		{ display: none; }
#ButtonTextSize		{ display: none; }
#ButtonTextColor	{ display: none; }
#ButtonTextLock		{ display: none; }

/* прячем панель поиска */
#TableSuperFormSearch	{ display: none; }
/* прячем панель фильтра по группам, в тикетнице */
#EdeskGroupFilters	{ display: none; }
/* прячем установку статуса внизу супертаблицы */
#AfterSuperTableSetStatus { display: none; }
/* прячем слово шаблон вверху у фильтра таблицы */
#BeforeSuperTablePattern { display: none; }
/* прячем селектор с какой по какую дату */
#TableSuperDateSelect	{ display: none; }
/* фильтр по серверу размещения и тарифу */
#TableSuperOrderFilter	{ display: none; }
/* прячем текст у кнопки удаления, внизу таблицы */
#TableSuperDeleteText	{ display: none; }
/* прячем админские кнопки в тикетнице */
#EdeskAdminButton	{ display: none; }
/* кнопки следующего/предыдущего запросов */
#EdeskPrevious		{ display: none; }
#EdeskNext		{ display: none; }
/* текст про добавление файла, и так разберутся что это за дырка */
#EdeskAddFileText	{ display: none; }
/* сепаратор между кнопками и действием - кнопки-то убрали уже */
#EdeskSeparator		{ display: none; }
/* верхний логотип - прячем на малых разрешениях */
#TopLogo		{ display: none; }
/* стиль для тикетницы, на мобильном и так места мало, убираем пустое по сторонам таблицы */
#Main			{ border-spacing: 0 0; }
/* создание нового тикета, прячем тех кто в онлайне */
#NowOnlineSupport	{ display: none; }
/* окно для ввода телефона для оплаты через QIWI, прячем подсказку напротив */
#QiwiPhone		{ display: none; }
/* вторая кнопка оплаты счёта, вверху страницы */
#MobilePaymentButton	{ display: inline-block !important; }
/* скрываем элементы корзины, в мобильной версии */
#BasketItemComment	{ display: none; }
#BasketServiceName	{ display: none; }
#BasketServiceCode	{ display: inline-block !important; }


div.PostProfile {
	display:	none;
	width:		auto;
	border-width:	0 0 1px 0;
	padding-bottom:	5px;
	margin:		0;
	margin-bottom:	0px;
	margin-bottom:	5px;
	min-height:	40px;
	overflow:	hidden;
	float:		none;
}

div.EdeskMessageContent {
	display:	block;
	width:		auto;
	float:		none;
	padding:	0;
	padding-bottom:	5px;
	min-height:	40px;
	overflow:	hidden;
}

div.EdeskMessageInfo {
	width:		auto;
	padding:	0;
}

/* уменьшаем пустое место по сторонам сообщения в тикетнице */
div.EdeskMessage {
	margin:         1px 1px 1px 1px;
}


/* прячем главное меню сайта на малых разрешениях 
 * и боковое меню тоже убираем
 */
#TopPanelMenu		{ display: none; }
#MenuLeft		{ display: none; }

/* показываем кнопку отображения меню */
#HiddenMenuButtons	{ display: grid;}
/* для оперы, блин */
doesnotexist:-o-prefocus, #HiddenMenuButtons {display: block;}

/**/

/* добавляем пустое место внизу страницы - чтобы вылезающая клава не перекрывала окна ввода */
#PageDownSpace		{ height: 250px; }


