<XML>
 <Invoices>
  <PaymentSystems>
   <WebMoneyR>
    <Send>
     <LMI_SIM_MODE>2</LMI_SIM_MODE>
     <LMI_PAYEE_PURSE>R206075015203</LMI_PAYEE_PURSE>
    </Send>
    <Hash>kjbUgyTDYqaDygOASJhDIOuhUYGu6</Hash>
    <IsContinuePaying>1</IsContinuePaying>
    <IsActive>1</IsActive>
    <ContractsTypes>
     <Default>1</Default>
    </ContractsTypes>
   </WebMoneyR>
   <WebMoneyZ>
    <Send>
     <LMI_SIM_MODE>2</LMI_SIM_MODE>
     <LMI_PAYEE_PURSE>Z321513400343</LMI_PAYEE_PURSE>
    </Send>
    <Hash>kjbUgyTDYqaDygOASJhDIOuhUYGu6</Hash>
    <IsContinuePaying>1</IsContinuePaying>
    <IsActive>1</IsActive>
    <Course>30.43</Course>
    <IsCourseUpdate>1</IsCourseUpdate>
   </WebMoneyZ>
   <ZPayment>
    <Send>
     <LMI_PAYEE_PURSE>645</LMI_PAYEE_PURSE>
    </Send>
    <Hash>joontezp</Hash>
    <IsContinuePaying>1</IsContinuePaying>
    <IsActive>1</IsActive>
    <IsCourseUpdate>1</IsCourseUpdate>
   </ZPayment>
   <Egold>
    <Send>
     <PAYEE_NAME>Joonte Ltd.</PAYEE_NAME>
    </Send>
    <IsContinuePaying>0</IsContinuePaying>
    <IsActive>0</IsActive>
    <Hash />
    <Course>30.43</Course>
    <IsCourseUpdate>1</IsCourseUpdate>
   </Egold>
   <RBKMoney>
    <secretKey>SUPER</secretKey>
    <IsContinuePaying>1</IsContinuePaying>
    <Send>
     <eshopId>2002022</eshopId>
    </Send>
    <IsActive>1</IsActive>
   </RBKMoney>
   <ROBOKASSA>
    <Send>
     <MrchLogin>joonte</MrchLogin>
    </Send>
    <MerchantPass1>J3JBDeib</MerchantPass1>
    <MerchantPass2>JeBLCE4s</MerchantPass2>
    <IsContinuePaying>1</IsContinuePaying>
    <IsActive>1</IsActive>
   </ROBOKASSA>
   <Yandex>
    <IsContinuePaying>0</IsContinuePaying>
    <IsActive>1</IsActive>
    <Send>
     <wbp_ShopKeyID>41001234068336</wbp_ShopKeyID>
    </Send>
   </Yandex>
   <Moneybookers>
    <Send>
     <pay_to_email>office@joonte.com</pay_to_email>
     <recipient_description>Joonte Software</recipient_description>
     <logo_url>https://joonte.com/styles/joonte/Images/TopLogo.png</logo_url>
     <return_url>http://joonte.com/Invoices</return_url>
     <cancel_url>http://joonte.com/Invoices?Error=yes</cancel_url>
     <status_url>https://joonte.com/Merchant/Moneybookers</status_url>
     <currency>EUR</currency>
    </Send>
    <IsActive>0</IsActive>
    <Course>42.46</Course>
    <IsCourseUpdate>1</IsCourseUpdate>
   </Moneybookers>
   <WebMoneyU>
    <IsCourseUpdate>1</IsCourseUpdate>
    <Course>3.79</Course>
    <IsActive>0</IsActive>
   </WebMoneyU>
   <WebMoneyE>
    <IsCourseUpdate>1</IsCourseUpdate>
    <Course>42.46</Course>
    <IsActive>0</IsActive>
   </WebMoneyE>
   <OKPAY>
    <Send>
     <ok_receiver>vvelikodny@gmail.com</ok_receiver>
     <ok_currency>RUB</ok_currency>
    </Send>
    <IsActive>1</IsActive>
   </OKPAY>
   <QIWI>
    <Send>
     <from>10593</from>
    </Send>
    <IsActive>1</IsActive>
   </QIWI>
  </PaymentSystems>
 </Invoices>
 <DBConnection>
  <User>jbs</User>
  <Password>H4BfkwPwqnc</Password>
  <DbName>jbs</DbName>
 </DBConnection>
 <IcqClient>
  <Uin>393464252</Uin>
  <Password>qazwsx</Password>
 </IcqClient>
 <Tickets>
  <TargetGroupsIDs>3200000,3100000</TargetGroupsIDs>
 </Tickets>
 <Notifies>
  <Methods>
   <ICQ>
    <IsActive>1</IsActive>
   </ICQ>
  </Methods>
 </Notifies>
 <Executor>
  <IsNds>0</IsNds>
  <SiteURL>joonte.com</SiteURL>
  <IsUponConsider>0</IsUponConsider>
  <Currency>
   <Format>%01.2f</Format>
   <Name>руб</Name>
  </Currency>
 </Executor>
 <Contracts>
  <Types>
   <Natural>
    <IsUsedMotionDocuments>0</IsUsedMotionDocuments>
   </Natural>
  </Types>
 </Contracts>
 <Profiles>
  <Templates>
   <Natural>
    <IsActive>1</IsActive>
   </Natural>
  </Templates>
 </Profiles>
 <Hosting>
  <IsNoDomain>0</IsNoDomain>
 </Hosting>
 <Tasks>
  <Types>
   <GC>
    <Name>Сборщик мусора</Name>
   </GC>
  </Types>
 </Tasks>
</XML>
