<?xml version="1.0" encoding="utf-8"?>
<!-- @author Великодный В.В. (Joonte Ltd.) -->
<XML>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Users>
 <Register>
  <LayPayMaxDays>31</LayPayMaxDays>
  <LayPayMaxSumm>50</LayPayMaxSumm>
  <LayPayThreshold>200</LayPayThreshold>
  <!-- ********************************************************************* -->
  <Sign>C уважением,</Sign>
 </Register>
</Users>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Profiles>
 <Templates>
  <Natural>
   <Name>Физическое лицо</Name>
   <IsActive>1</IsActive>
  </Natural>
  <!-- ********************************************************************* -->
  <Juridical>
   <Name>Юридическое лицо</Name>
   <IsActive>1</IsActive>
  </Juridical>
  <!-- ********************************************************************* -->
  <Individual>
   <Name>Индивидуальный предприниматель</Name>
   <IsActive>1</IsActive>
  </Individual>
  <!-- ********************************************************************* -->
  <Client>
   <Name>Клиент для размещения на сайте</Name>
   <IsActive>1</IsActive>
  </Client>
  <!-- ********************************************************************* -->
  <Partner>
   <Name>Партнёр компании</Name>
   <IsActive>1</IsActive>
  </Partner>
  <!-- ********************************************************************* -->
  <Envelope>
   <Name>Почтовый конверт</Name>
   <IsActive>0</IsActive>
  </Envelope>
  <!-- ********************************************************************* -->
  <NaturalPartner>
   <Name>Партнёрская программа</Name>
   <IsActive>1</IsActive>
  </NaturalPartner>
 </Templates>
</Profiles>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Contracts>
 <Types>
  <Default>
   <Name>По умолчанию</Name>
   <IsActive>0</IsActive>
   <IsUsedMotionDocuments>0</IsUsedMotionDocuments>
   <IsUponConsider>0</IsUponConsider>
   <ProfileTemplateID />
   <Simple type="array" />
  </Default>
  <!-- ********************************************************************* -->
  <Natural>
   <Name>Физическое лицо</Name>
   <IsActive>1</IsActive>
   <IsUsedMotionDocuments>0</IsUsedMotionDocuments>
   <IsUponConsider>0</IsUponConsider>
   <ProfileTemplateID>Natural</ProfileTemplateID>
   <Simple>
    <Sourname>1</Sourname>
    <Name>1</Name>
    <Lastname>1</Lastname>
    <Email>1</Email>
    <pCountry>0</pCountry>
    <PasportCountry>0</PasportCountry>
    <pState>0</pState>
    <pCity>0</pCity>
    <pIndex>0</pIndex>
    <pSity>0</pSity>
    <pAddress>0</pAddress>
   </Simple>
  </Natural>
  <!-- ********************************************************************* -->
  <Juridical>
   <Name>Юридическое лицо</Name>
   <IsActive>1</IsActive>
   <IsUsedMotionDocuments>1</IsUsedMotionDocuments>
   <IsUponConsider>0</IsUponConsider>
   <ProfileTemplateID>Juridical</ProfileTemplateID>
   <Simple>
    <CompanyForm>1</CompanyForm>
    <CompanyName>1</CompanyName>
    <Email>1</Email>
    <Inn>1</Inn>
    <BankName>0</BankName>
    <Bik>0</Bik>
    <BankAccount>0</BankAccount>
    <Kor>0</Kor>
   </Simple>
  </Juridical>
  <!-- ********************************************************************* -->
  <Individual>
   <Name>Индивидуальный предприниматель</Name>
   <IsActive>1</IsActive>
   <IsUsedMotionDocuments>1</IsUsedMotionDocuments>
   <IsUponConsider>0</IsUponConsider>
   <ProfileTemplateID>Individual</ProfileTemplateID>
   <Simple>
    <CompanyName>1</CompanyName>
    <Email>1</Email>
    <Inn>1</Inn>
    <BankName>0</BankName>
    <Bik>0</Bik>
    <BankAccount>0</BankAccount>
    <Kor>0</Kor>
   </Simple>
  </Individual>
  <!-- ********************************************************************* -->
  <NaturalPartner>
   <Name>Партнёрская программа</Name>
   <IsActive>1</IsActive>
   <IsUsedMotionDocuments>0</IsUsedMotionDocuments>
   <IsUponConsider>0</IsUponConsider>
   <ProfileTemplateID>NaturalPartner</ProfileTemplateID>
   <Simple>
    <Sourname>1</Sourname>
    <Name>1</Name>
    <Lastname>1</Lastname>
    <Email>1</Email>
   </Simple>
  </NaturalPartner>
  <!-- ********************************************************************* -->
 </Types>
 <!-- ********************************************************************** -->
 <Enclosures>
  <Types>
   <Default>
    <Name>По умолчанию</Name>
    <IsActive>0</IsActive>
   </Default>
  </Types>
 </Enclosures>
</Contracts>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Invoices>
  <AllowConditionally>0</AllowConditionally>
  <EventOnNegativeBalance>0</EventOnNegativeBalance>
 <PaymentSystems>
  <PayMaster>
   <Name>PayMaster</Name>
   <SystemDescription>Оплата через WebMoney, банковскими картами VISA/MasterCard (без процентов), через интернет-банкинги, наличными через кассы магазинов и многими другими способами</SystemDescription>
   <Send>
    <LMI_MERCHANT_ID />
    <LMI_PAYMENT_AMOUNT>auto</LMI_PAYMENT_AMOUNT>
    <LMI_CURRENCY>RUB</LMI_CURRENCY>
    <LMI_PAYMENT_DESC>Payment for invoice #</LMI_PAYMENT_DESC>
   </Send>
   <Comp>PayMaster</Comp>
   <Cpp>https://paymaster.ru/Payment/Init</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>WMR</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </PayMaster>
  <!-- ********************************************************************* -->
  <WebMoneyR>
   <Name>WebMoney WMR</Name>
   <SystemDescription>WebMoney Transfer — международная система расчетов и среда для ведения бизнеса в сети. Основана в 1998 г.</SystemDescription>
   <Send>
    <LMI_PAYEE_PURSE />
    <LMI_SIM_MODE />
    <LMI_PAYMENT_DESC>Payment for invoice #</LMI_PAYMENT_DESC>
   </Send>
   <Comp>WebMoney</Comp>
   <Cpp>https://merchant.webmoney.ru/lmi/payment.asp</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>WMR</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </WebMoneyR>
  <!-- ********************************************************************* -->
  <WebMoneyZ>
   <Name>WebMoney WMZ</Name>
   <SystemDescription>WebMoney Transfer — международная система расчетов и среда для ведения бизнеса в сети. Основана в 1998 г.</SystemDescription>
   <Send>
    <LMI_PAYEE_PURSE />
    <LMI_SIM_MODE />
    <LMI_PAYMENT_DESC>Payment for invoice #</LMI_PAYMENT_DESC>
   </Send>
   <Comp>WebMoney</Comp>
   <Cpp>https://merchant.webmoney.ru/lmi/payment.asp</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>27.57</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>WMZ</Measure>
   <Valute>USD</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </WebMoneyZ>
  <!-- ********************************************************************* -->
  <WebMoneyU>
   <Name>WebMoney WMU</Name>
   <SystemDescription>WebMoney Transfer — международная система расчетов и среда для ведения бизнеса в сети. Основана в 1998 г.</SystemDescription>
   <Send>
    <LMI_PAYEE_PURSE />
    <LMI_SIM_MODE />
    <LMI_PAYMENT_DESC>Payment for invoice #</LMI_PAYMENT_DESC>
   </Send>
   <Comp>WebMoney</Comp>
   <Cpp>https://merchant.webmoney.ru/lmi/payment.asp</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>4.46</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>WMU</Measure>
   <Valute>UAH</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </WebMoneyU>
  <!-- ********************************************************************* -->
  <WebMoneyE>
   <Name>WebMoney WME</Name>
   <SystemDescription>WebMoney Transfer — международная система расчетов и среда для ведения бизнеса в сети. Основана в 1998 г.</SystemDescription>
   <Send>
    <LMI_PAYEE_PURSE />
    <LMI_SIM_MODE />
    <LMI_PAYMENT_DESC>Payment for invoice #</LMI_PAYMENT_DESC>
   </Send>
   <Comp>WebMoney</Comp>
   <Cpp>https://merchant.webmoney.ru/lmi/payment.asp</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>34.52</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>WME</Measure>
   <Valute>EUR</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </WebMoneyE>
  <!-- ********************************************************************* -->
   <Yandex>
    <Name>Яндекс.Деньги</Name>
    <SystemDescription>Яндекс.Деньги — это платежная система, которая позволяет оплачивать различные товары и услуги; совершать безопасные платежи в интернете; надежно хранить всю информацию о ваших зачислениях и платежах.</SystemDescription>
    <Send>
     <CurrencyID>643</CurrencyID>
     <wbp_InactivityPeriod>2</wbp_InactivityPeriod>
     <wbp_ShopAddress>wn1.paycash.ru:8828</wbp_ShopAddress>
     <wbp_ShopEncryptionKey />
     <wbp_ShopKeyID />
     <wbp_Version>1.0</wbp_Version>
     <wbp_CorrespondentID />
     <BankID>1001</BankID>
     <TargetBankID>1001</TargetBankID>
     <PaymentTypeCD>PC</PaymentTypeCD>
     <ShowCaseID>1010</ShowCaseID>
     <ShopID />
     <scid />
     <Sum>auto</Sum>
     <orderNumber>auto</orderNumber>
     <customerNumber>auto</customerNumber>
     <md5>auto</md5>
    </Send>
    <Comp>Yandex</Comp>
    <!-- for production, use https://money.yandex.ru/eshop.xml -->
    <Cpp>https://demomoney.yandex.ru/eshop.xml</Cpp>
    <Hash />
    <ContractsTypes>
     <Default>1</Default>
     <Natural>1</Natural>
     <Juridical>1</Juridical>
     <Individual>1</Individual>
    </ContractsTypes>
    <IsContinuePaying>1</IsContinuePaying>
    <Course>1</Course>
    <IsCourseUpdate>0</IsCourseUpdate>
    <Measure>руб</Measure>
    <Valute>RUR</Valute>
    <MinimumPayment>1.00</MinimumPayment>
    <MaximumPayment>250000.00</MaximumPayment>
    <IsActive>0</IsActive>
   </Yandex>
  <!-- ********************************************************************* -->
  <QIWI>
   <Name>QIWI</Name>
   <SystemDescription>Платёжная система использующая номер мобильного телефона в качестве номера кошелька. Большая сеть терминалов для оплаты.</SystemDescription>
   <Send>
    <from />
    <to>auto</to>
    <summ>auto</summ>
    <com>Payment for invoice #</com>
    <lifetime>1075</lifetime>
    <check_agt>false</check_agt>
    <txn_id>auto</txn_id>
   </Send>
   <Comp>QIWI</Comp>
   <Cpp>https://w.qiwi.ru/setInetBill_utf.do</Cpp>
   <XmlCpp>http://ishop.qiwi.ru/xml</XmlCpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>0</Juridical>
    <Individual>0</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>27.57</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>руб</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>1.00</MinimumPayment>
   <MaximumPayment>15000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </QIWI>
  <!-- ******************************************************************** -->
  <ZPayment>
   <Name>Z-PAYMENT</Name>
   <SystemDescription>Электронная платёжная система, интегрирующая различные виды оплаты, такие как оплата по SMS, банковские переводы, оплата пластиковой картой и другие.</SystemDescription>
   <Send>
    <LMI_PAYEE_PURSE />
    <LMI_PAYMENT_NO>auto</LMI_PAYMENT_NO>
    <LMI_PAYMENT_AMOUNT>auto</LMI_PAYMENT_AMOUNT>
    <CLIENT_MAIL>auto</CLIENT_MAIL>
    <LMI_PAYMENT_DESC>Payment for invoice #</LMI_PAYMENT_DESC>
   </Send>
   <Comp>ZPayment</Comp>
   <Cpp>https://z-payment.ru/merchant.php</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>RUR</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </ZPayment>
  <!-- ********************************************************************* -->
  <EasyPay>
   <Name>EasyPay</Name>
   <SystemDescription>Электронные деньги, которые предназначены для осуществления быстрых платежей, надежный и быстрый способ передачи денег в интернете и с помощью SMS-сообщений. EasyPay действуют на территории Республики Беларусь, "электронные деньги" используются в качестве платежного средства.</SystemDescription>
   <Send>
    <EP_OrderNo>auto</EP_OrderNo>
    <EP_Sum>auto</EP_Sum>
    <EP_Expires>4</EP_Expires>
    <EP_MerNo />
    <EP_OrderInfo>Payment for invoice #</EP_OrderInfo>
   </Send>
   <Comp>EasyPay</Comp>
   <Cpp>https://ssl.easypay.by/weborder/</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>BYR</Measure>
   <Valute>BYR</Valute>
   <MinimumPayment>2</MinimumPayment>
   <MaximumPayment>11000</MaximumPayment>
   <IsActive>0</IsActive>
  </EasyPay>
  <!-- ********************************************************************* -->
  <Egold>
   <Name>E-Gold</Name>
   <SystemDescription>платёжное средство для безналичных платежей через Интернет. Юридически e-gold является распиской о размещении указанного количества золота на хранение в компании «E-gold Ltd.». По своей сути e-gold являются электронными деньгами, эмиссию которых осуществляет частная компания.</SystemDescription>
   <Send>
    <PAYEE_ACCOUNT />
    <PAYEE_NAME>auto</PAYEE_NAME>
    <PAYMENT_UNITS>1</PAYMENT_UNITS>
    <PAYMENT_METAL_ID>1</PAYMENT_METAL_ID>
    <PAYMENT_ID>auto</PAYMENT_ID>
    <PAYMENT_AMOUNT>auto</PAYMENT_AMOUNT>
    <SUGGESTED_MEMO>Payment for invoice # </SUGGESTED_MEMO>
    <STATUS_URL>https://domain/Merchant/Egold</STATUS_URL>
    <PAYMENT_URL>https://domain/Payment/Payed</PAYMENT_URL>
    <NOPAYMENT_URL>https://domain/Payment/Error</NOPAYMENT_URL>
    <BAGGAGE_FIELDS />
   </Send>
   <Comp>Egold</Comp>
   <Cpp>https://www.e-gold.com/sci_asp/payments.asp</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>27.57</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>USD</Measure>
   <Valute>USD</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </Egold>
  <!-- ********************************************************************* -->
  <RBKMoney>
   <Name>RBK Money</Name>
   <SystemDescription>(в прошлом — RUpay) — первая электронная платёжная система в России бесплатная для пользователей. Комиссия на оплату услуг и товаров в интернете — 0%</SystemDescription>
   <Send>
    <eshopId />
    <recipientAmount>auto</recipientAmount>
    <orderId>auto</orderId>
    <recipientCurrency>RUR</recipientCurrency>
    <successUrl>auto</successUrl>
    <failUrl>auto</failUrl>
    <serviceName>Payment for invoice #</serviceName>
   </Send>
   <Comp>RBKMoney</Comp>
   <Cpp>https://rbkmoney.ru/acceptpurchase.aspx</Cpp>
   <secretKey />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>руб</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>1.00</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </RBKMoney>
  <!-- ********************************************************************* -->
  <ROBOKASSA>
   <Name>ROBOKASSA</Name>
   <SystemDescription>Система электронных платежей в сети Интернет. Первый автоматизированный центр обмена электронных денег и приема интернет платежей</SystemDescription>
   <Send>
    <Culture>ru</Culture>
    <MrchLogin />
    <IncCurrLabel>PCR</IncCurrLabel>
    <OutSum>auto</OutSum>
    <InvId>auto</InvId>
    <SignatureValue>auto</SignatureValue>
    <Desc>Payment for invoice #</Desc>
   </Send>
   <Comp>ROBOKASSA</Comp>
   <Cpp>https://merchant.roboxchange.com/Index.aspx</Cpp>
   <MerchantPass1 />
   <MerchantPass2 />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>руб</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>1.00</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </ROBOKASSA>
  <!-- ********************************************************************* -->
  <InterKassa>
   <Name>ИнтерКасса</Name>
   <SystemDescription>Сервис, позволяющиц оплачивать услуги и товары большинством электронных валют (Webmoney, Яндекс.Деньги, RBKMoney, QIWI, PayPal, LiqPay, MoneyBookers, Единый кошелек, MoneyMail, LibertyReserve, PerfectMoney, Деньги@Mail.Ru и др.), а также другими популярными способами - платежи с баланса мобильного телефона, банковские карты Visa/Master Card, денежные переводы и платежные терминалы.</SystemDescription>
   <Send>
    <ik_shop_id />
    <ik_payment_amount>auto</ik_payment_amount>
    <ik_payment_id>auto</ik_payment_id>
    <ik_paysystem_alias></ik_paysystem_alias>
    <ik_payment_desc>Payment for invoice #</ik_payment_desc>
   </Send>
   <Comp>InterKassa</Comp>
   <Cpp>https://www.interkassa.com/lib/payment.php</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>31</Course>
   <IsCourseUpdate>1</IsCourseUpdate>
   <Measure>USD</Measure>
   <Valute>USD</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>25000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </InterKassa>
  <!-- ********************************************************************* -->
  <MailRu>
   <Name>Деньги@Mail.Ru</Name>
   <SystemDescription>Платёжная система портала Mail.Ru</SystemDescription>
   <Send>
    <shop_id />
    <currency>TEST</currency>
    <sum>auto</sum>
    <description>Payment for invoice #</description>
    <issuer_id>auto</issuer_id>
    <message>Payment for invoice #</message>
    <signature>auto</signature>
   </Send>
   <Comp>MailRu</Comp>
   <!-- for production use https://money.mail.ru/pay/light/ -->
   <Cpp>https://demoney.mail.ru/pay/light/</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>руб</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>1.00</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </MailRu>
   <!-- ********************************************************************* --> 
  <W1>
   <Name>Единый кошелек</Name>
   <SystemDescription>обеспечивает проведение финансовых расчетов между участниками системы в режиме реального времени и предназначенный для обслуживания потребностей населения, в первую очередь, связанных с оплатой услуг. Валюты расчётов — российский рубль, южноафриканский рэнд, украинская гривна, американский доллар, евро, казахстанский тенге</SystemDescription>
   <Send>
    <WMI_MERCHANT_ID />
    <WMI_CURRENCY_ID>643</WMI_CURRENCY_ID>
    <WMI_PAYMENT_AMOUNT>auto</WMI_PAYMENT_AMOUNT>
    <WMI_DESCRIPTION>Payment for invoice #</WMI_DESCRIPTION>
    <WMI_SIGNATURE>auto</WMI_SIGNATURE>
   </Send>
   <Comp>W1</Comp>
   <Cpp>https://merchant.w1.ru/checkout/default.aspx</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>руб</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>1.00</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </W1>
  <!-- ********************************************************************* --> 
  <Moneybookers>
   <Name>Moneybookers</Name>
   <SystemDescription>компания денежных переводов, которая позволяет посылать и получать деньги через электронную почту</SystemDescription>
   <Send>
    <pay_to_email />
    <recipient_description />
    <logo_url>https://domain/logo.jpg</logo_url>
    <transaction_id>auto</transaction_id>
    <return_url>auto</return_url>
    <cancel_url>auto</cancel_url>
    <status_url>auto</status_url>
    <language>RU</language>
    <hide_login>1</hide_login>
    <amount>auto</amount>
    <currency />
    <detail1_description>Payment for invoice #</detail1_description>
    <detail1_text>auto</detail1_text>
   </Send>
   <Comp>Moneybookers</Comp>
   <Cpp>https://www.Moneybookers.com/app/payment.pl</Cpp>
   <Hash />
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>34.52</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>EUR</Measure>
   <Valute>EUR</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </Moneybookers>
  <!-- ********************************************************************* -->
  <Checkout>
    <Name>2Checkout</Name>
    <SystemDescription>Процессинговая платёжная система, позволяет оплачивать через пластиковые карточки, а также с помощью PayPal</SystemDescription>
    <Send>
      <sid />
      <total>auto</total>
      <cart_order_id>auto</cart_order_id>
      <id_type>1</id_type>
      <demo>Y</demo>
      <c_description_1>Payment for invoice #</c_description_1>
    </Send>
    <Comp>2Checkout</Comp>
    <Cpp>https://www.2checkout.com/checkout/purchase</Cpp>
    <Hash />
    <ContractsTypes>
      <Default>1</Default>
      <Natural>1</Natural>
      <Juridical>1</Juridical>
      <Individual>1</Individual>
    </ContractsTypes>
    <IsContinuePaying>1</IsContinuePaying>
    <Course>27.57</Course>
    <IsCourseUpdate>0</IsCourseUpdate>
    <Measure>USD</Measure>
    <Valute>USD</Valute>
    <MinimumPayment>0.01</MinimumPayment>
    <MaximumPayment>250000.00</MaximumPayment>
    <IsActive>0</IsActive>
  </Checkout>
  <!-- ********************************************************************* -->
  <OKPAY>
    <Name>OKPAY</Name>
    <SystemDescription>электронная валюта с мгновенными денежными переводами и возможностью защиты интересов покупателя</SystemDescription>
    <Send>
      <ok_receiver />
      <ok_currency>RUB</ok_currency>
      <ok_invoice>auto</ok_invoice>
      <ok_fees>0</ok_fees>
      <ok_item_1_name>Payment for invoice #</ok_item_1_name>
      <ok_item_1_price>auto</ok_item_1_price>
    </Send>
    <Comp>OKPAY</Comp>
    <Cpp>https://www.okpay.com/process.html</Cpp>
    <ContractsTypes>
      <Default>1</Default>
      <Natural>1</Natural>
      <Juridical>0</Juridical>
      <Individual>0</Individual>
    </ContractsTypes>
    <IsContinuePaying>1</IsContinuePaying>
    <Course>27.57</Course>
    <IsCourseUpdate>0</IsCourseUpdate>
    <Measure>USD</Measure>
    <Valute>USD</Valute>
    <MinimumPayment>0.01</MinimumPayment>
    <MaximumPayment>250000.00</MaximumPayment>
    <IsActive>0</IsActive>
  </OKPAY>
  <!-- ********************************************************************* -->
  <OnPay>
   <Name>OnPay.ru</Name>
   <SystemDescription>Система электронных платежей с множеством способов оплаты: WebMoney, Visa, MasterCard</SystemDescription>
   <Send>
    <pay_mode>fix</pay_mode>
    <price>auto</price>
    <user_email>auto</user_email>
    <url_success>auto</url_success>
    <url_fail>auto</url_fail>
    <pay_for>auto</pay_for>
   </Send>
   <Comp>OnPay</Comp>
   <Cpp>http://secure.onpay.ru/pay/MerchantLogin</Cpp>
   <MerchantLogin>MerchantLogin</MerchantLogin>
   <MerchantPass>MerchantPass</MerchantPass>
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <IsContinuePaying>1</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>руб</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>5.00</MinimumPayment>
   <MaximumPayment>250000.00</MaximumPayment>
   <IsActive>0</IsActive>
  </OnPay>
  <!-- ********************************************************************* -->
  <Natural>
   <Name>Банк (физ. лица)</Name>
   <SystemDescription>Оплата через СберБанк России</SystemDescription>
   <ContractsTypes>
    <Default>0</Default>
    <Natural>1</Natural>
    <Juridical>0</Juridical>
    <Individual>0</Individual>
   </ContractsTypes>
   <Comp>Null</Comp>
   <Cpp />
   <IsContinuePaying>0</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>руб</Measure>
   <Valute>EUR</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>1000000.00</MaximumPayment>
   <IsActive>1</IsActive>
  </Natural>
  <!-- ********************************************************************* -->
  <Juridical>
   <Name>Банк без. нал. (юр. лица)</Name>
   <SystemDescription>Оплата по безналичному расчёту</SystemDescription>
   <ContractsTypes>
    <Default>0</Default>
    <Natural>0</Natural>
    <Juridical>1</Juridical>
    <Individual>0</Individual>
   </ContractsTypes>
   <Comp>Null</Comp>
   <Cpp />
   <IsContinuePaying>0</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>руб</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>1000000.00</MaximumPayment>
   <IsActive>1</IsActive>
  </Juridical>
  <!-- ********************************************************************* -->
  <Individual>
   <Name>Банк без. нал. (ИП)</Name>
   <SystemDescription>Оплата по безналичному расчёту</SystemDescription>
   <ContractsTypes>
    <Default>0</Default>
    <Natural>0</Natural>
    <Juridical>0</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <Comp>Null</Comp>
   <Cpp />
   <IsContinuePaying>0</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>руб</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>1000000.00</MaximumPayment>
   <IsActive>1</IsActive>
  </Individual>
  <!-- ********************************************************************* -->
  <InOffice>
   <Name>Наличными в офисе</Name>
   <SystemDescription>Оплата наличными, в нашем офисе</SystemDescription>
   <ContractsTypes>
    <Default>1</Default>
    <Natural>1</Natural>
    <Juridical>1</Juridical>
    <Individual>1</Individual>
   </ContractsTypes>
   <Comp>Null</Comp>
   <Cpp />
   <IsContinuePaying>0</IsContinuePaying>
   <Course>1</Course>
   <IsCourseUpdate>0</IsCourseUpdate>
   <Measure>руб</Measure>
   <Valute>RUR</Valute>
   <MinimumPayment>0.01</MinimumPayment>
   <MaximumPayment>1000000.00</MaximumPayment>
   <IsActive>1</IsActive>
  </InOffice>
 </PaymentSystems>
</Invoices>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Notifies>
 <Types>
  <FromTicketsMessages>
   <Title>Центр поддержки</Title>
   <Name>Новое сообщение от службы поддержки</Name>
   <GroupID>1</GroupID>
  </FromTicketsMessages>
  <!-- ********************************************************************* -->
  <ToTicketsMessages>
   <Name>Новое сообщение в службу поддержки</Name>
   <GroupID>3000000</GroupID>
  </ToTicketsMessages>
  <!-- ********************************************************************* -->
  <EdeskCreate>
   <Title>Обсуждения</Title>
   <Name>Создание нового обсуждения</Name>
   <GroupID>1</GroupID>
  </EdeskCreate>
  <!-- ********************************************************************* -->
  <EdeskMessageCreate>
   <Name>Добавление нового сообщения в обсуждение</Name>
   <GroupID>1</GroupID>
  </EdeskMessageCreate>
  <!-- ********************************************************************* -->
  <NotPayedInvoice>
   <Title>Прочее</Title>
   <Name>Неоплаченные счета</Name>
   <GroupID>1</GroupID>
  </NotPayedInvoice>
 </Types>
 <!-- ********************************************************************** -->
 <Methods>
  <Email>
   <Name>Эл. почта</Name>
   <IsActive>1</IsActive>
  </Email>
  <!-- ********************************************************************* -->
  <ICQ>
   <Name>ICQ пейджинг</Name>
   <IsActive>1</IsActive>
  </ICQ>
  <!-- ********************************************************************* -->
  <Jabber>
   <Name>Jabber пейджинг</Name>
   <IsActive>0</IsActive>
  </Jabber>
  <!-- ********************************************************************* -->
  <SMS>
   <Name>SMS сообщения</Name>
   <IsActive>0</IsActive>
   <Provider>SMSC</Provider>
  </SMS>
 </Methods>
</Notifies>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Tasks>
 <MaxErrors>5</MaxErrors>
 <SleepTime>59</SleepTime>
 <PerIteration>11</PerIteration>
 <Types>
  <Email>
   <Name>Эл. сообщение</Name>
   <Params>
    <Email>Адрес</Email>
    <Theme>Тема</Theme>
    <Message>Сообщение</Message>
    <Heads>Заголовки</Heads>
    <ID>Идентификатор пользователя</ID>
   </Params>
   <IsActive>1</IsActive>
  </Email>
  <!-- ********************************************************************* -->
  <ICQ>
   <Name>Сообщение по ICQ</Name>
   <Params>
    <UIN>UIN</UIN>
    <Message>Сообщение</Message>
    <ID>Идентификатор пользователя</ID>
   </Params>
   <IsActive>1</IsActive>
  </ICQ>
  <!-- ********************************************************************* -->
  <Jabber>
   <Name>Сообщение по Jabber</Name>
   <Params>
    <JabberID>JabberID</JabberID>
    <Message>Сообщение</Message>
    <ID>Идентификатор пользователя</ID>
   </Params>
   <IsActive>0</IsActive>
  </Jabber>
  <!-- ********************************************************************* -->
  <SMS>
   <Name>SMS сообщение</Name>
   <Params>
    <Mobile>Номер мобильного телефона</Mobile>
    <Message>Сообщение</Message>
    <ID>Идентификатор пользователя</ID>
   </Params>
   <IsActive>1</IsActive>
  </SMS>
  <!-- ********************************************************************* -->
  <Dispatch>
   <Name>Рассылка</Name>
   <Params>
    <SendToIDs>Кому шлём</SendToIDs>
    <Theme>Тема</Theme>
    <Message>Сообщение</Message>
   </Params>
   <IsActive>1</IsActive>
  </Dispatch>
  <!-- ********************************************************************* -->
  <BackUp>
   <Name>Процедура резервного копирования</Name>
   <Params type="array" />
   <IsActive>1</IsActive>
  </BackUp>
  <!-- ********************************************************************* -->
  <Sessions>
   <Name>Сборщик устаревших сессий</Name>
   <Params type="array" />
   <IsActive>1</IsActive>
  </Sessions>
  <!-- ********************************************************************* -->
  <Temp>
   <Name>Удаление временных файлов</Name>
   <Params type="array" />
   <IsActive>1</IsActive>
  </Temp>
  <!-- ********************************************************************* -->
  <Logs>
   <Name>Ротация логов</Name>
   <Params type="array" />
   <IsActive>1</IsActive>
  </Logs>
  <!-- ********************************************************************* -->
  <TicketsMessages>
   <Name>Уведомления о новых сообщениях в запросах</Name>
   <Params type="array" />
   <IsActive>1</IsActive>
   <TicketsMessagesHandlePerid>10</TicketsMessagesHandlePerid>
  </TicketsMessages>
  <!-- ********************************************************************* -->
  <WorksComplite>
   <Name>Агрегатор выполненных работ</Name>
   <Params type="array" />
   <IsActive>1</IsActive>
  </WorksComplite>
  <!-- ********************************************************************* -->
  <WorksCompliteReports>
   <Name>Формирование актов выполненных работ</Name>
   <Params type="array" />
   <IsActive>1</IsActive>
  </WorksCompliteReports>
  <!-- ********************************************************************* -->
  <CourseUpdate>
   <Name>Обновление курсов валют</Name>
   <Params type="array" />
   <IsActive>1</IsActive>
  </CourseUpdate>
  <!-- ********************************************************************* -->
  <ServiceCreate>
   <Name>Создание услуги</Name>
   <Params>
    <Name>Название услуги</Name>
    <ID>Идентификатор заказа</ID>
   </Params>
   <IsActive>0</IsActive>
  </ServiceCreate>
  <!-- ********************************************************************* -->
  <ServiceProlong>
   <Name>Продление услуги</Name>
   <Params>
    <Name>Название услуги</Name>
    <ID>Идентификатор заказа</ID>
   </Params>
   <IsActive>0</IsActive>
  </ServiceProlong>
  <!-- ********************************************************************* -->
  <ServiceSuspend>
   <Name>Заблокировать услугу</Name>
   <Params>
    <Name>Название услуги</Name>
    <ID>Идентификатор заказа</ID>
   </Params>
   <IsActive>0</IsActive>
  </ServiceSuspend>
  <!-- ********************************************************************* -->
  <OrdersForSuspend>
   <Name>Заказы для блокировки</Name>
   <Params type="array" />
   <IsActive>1</IsActive>
  </OrdersForSuspend>
  <!-- ********************************************************************* -->
  <QIWI>
   <Name>Опрос сервера QIWI для получения статусов счетов</Name>
   <Params type="array" />
   <RequestPeriod>10</RequestPeriod>
   <IsActive>1</IsActive>
  </QIWI>
  <!-- ********************************************************************* -->
  <CaclulatePartnersReward>
    <Name>Партнёрские начисления</Name>
    <Params type="array" />
    <PartnersRewardPercent>5</PartnersRewardPercent>
    <IsActive>0</IsActive>
  </CaclulatePartnersReward>
  <!-- ********************************************************************* -->
  <RegBalance>
    <Name>Проверка баланса счета регистратора</Name>
    <Params type="array" />
    <IsActive>1</IsActive>
  </RegBalance>
  <!-- ********************************************************************* -->
  <GC>
   <Name>Сборщик мусора</Name>
   <Params>
    <NowTask>Текущая задача</NowTask>
    <TasksArray type="array" />
   </Params>
   <IsActive>1</IsActive>
   <!-- Настройки -->
   <ItemPerIteration>5</ItemPerIteration>
   <DaysBeforeNotice>14</DaysBeforeNotice>
   <DaysBeforeDeleted>28</DaysBeforeDeleted>
   <DaysBeforeErase>60</DaysBeforeErase>
   <InactiveDaysForUser>365</InactiveDaysForUser>
   <!-- периоды хранения информации в таблицах, дней -->
   <TableTasksStoryPeriod>60</TableTasksStoryPeriod>
   <TableServersUpTimeStoryPeriod>186</TableServersUpTimeStoryPeriod>
   <TableRequestLogStoryPeriod>186</TableRequestLogStoryPeriod>
   <!-- задачи -->
   <DailyTasks>
    <!-- Операции со счетами -->
    <NotifyWaitingInvoice>Уведомление о неоплаченных счетах</NotifyWaitingInvoice>
    <EraseDeletedInvoice>Удаление счетов в статусе Отменен</EraseDeletedInvoice>
    <SetDeletedWaitingInvoice>Отмена неоплаченных счетов</SetDeletedWaitingInvoice>
    <NotifyConditionallyInvoice>Уведомление о условно оплаченных счетах</NotifyConditionallyInvoice>
    <!-- Удаление пользователей не заходивших в биллинг более года -->
    <EraseOldUsers>Удаление неактивных пользователей</EraseOldUsers>
    <!-- Очистка некоторых таблиц -->
    <CleanSomeTables>Очистка некоторых таблиц</CleanSomeTables>
    <!-- проверка прав на конфигурационный файл биллинговой системы -->
    <CheckConfigPermission>Проверка прав на конфигурационный файл</CheckConfigPermission>
    <!-- Уведомление о окончании услуг настроенных вручную -->
    <OrdersNoticeSuspend>Уведомление о окончании услуг</OrdersNoticeSuspend>
   </DailyTasks>
   <WeeklyTasks type="array" />
   <MonthlyTasks type="array" />
  </GC>
 </Types>
</Tasks>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<IcqClient>
 <Uin>000000,000000,000000</Uin>
 <Password>default</Password>
 <Encoding>CP1251</Encoding>
</IcqClient>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<JabberClient>
 <JabberID>jabber@isp.su</JabberID>
 <Password>default</Password>
 <Server>jabber.isp.su</Server>
 <Port>5222</Port>
 <UseSSL>1</UseSSL>
</JabberClient>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<SMSC>
 <Server>smsc.ru</Server>
 <Login>login</Login>
 <Password>passwd</Password>
 <UseSSL>0</UseSSL>
 <Send>
   <sender>Sender</sender>
   <charset>utf-8</charset>
   <translit>1</translit>
 </Send>
</SMSC>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Edesks>
 <Priorities>
  <Low>Низкий</Low>
  <Middle>Средний</Middle>
  <Hight>Высокий</Hight>
 </Priorities>
 <!-- ********************************************************************** -->
 <Flags>
  <No>Оставить открытым</No>
  <CloseOnSee>Закрыть после просмотра</CloseOnSee>
  <DenyClose>Запрещено закрывать</DenyClose>
  <Closed>Закрыть</Closed>
  <DenyAddMessage>Запретить добавлять сообщения</DenyAddMessage>
 </Flags>
</Edesks>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Services>
 <Consider>
  <Types>
   <Upon>
    <Name>Разово</Name>
   </Upon>
   <Daily>
    <Name>Ежедневно</Name>
   </Daily>
   <Monthly>
    <Name>Ежемесячно</Name>
   </Monthly>
   <Yearly>
    <Name>Ежегодно</Name>
   </Yearly>
  </Types>
 </Consider>
 <!-- ********************************************************************** -->
 <Fields>
  <Types>
   <Input>
    <Name>Поле ввода</Name>
    <Disabled>
     <ListElement>Options</ListElement>
    </Disabled>
   </Input>
   <TextArea>
    <Name>Текстовая область</Name>
    <Disabled>
     <ListElement>Options</ListElement>
    </Disabled>
   </TextArea>
   <Select>
    <Name>Список выбора</Name>
    <Disabled>
     <ListElement>IsDuty</ListElement>
     <ListElement>ValidatorID</ListElement>
    </Disabled>
   </Select>
   <File>
    <Name>Файл</Name>
    <Disabled>
     <ListElement>Options</ListElement>
     <ListElement>Default</ListElement>
     <ListElement>ValidatorID</ListElement>
    </Disabled>
   </File>
   <Hidden>
    <Name>Скрытое поле</Name>
    <Disabled>
     <ListElement>Options</ListElement>
    </Disabled>
   </Hidden>
  </Types>
  <!-- ********************************************************************* -->
  <Validators>
   <Default>
    <Name>Любое значение</Name>
   </Default>
   <Number>
    <Name>Число</Name>
   </Number>
   <Domain>
    <Name>Домен</Name>
   </Domain>
   <IP>
    <Name>IP адрес</Name>
   </IP>
   <Email>
    <Name>Электронный адрес</Name>
   </Email>
  </Validators>
 </Fields>
</Services>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<HTMLDOC>
 <ConvertToCharset>CP1251</ConvertToCharset>
 <Modes>
  <Contract>-t pdf14 --size A4 --pagemode document --webpage --no-title --embedfonts --header1 ... --header ... --footer .1. --headingfont Times --bodyfont Times --headfootsize 13.0 --headfootfont Times-Roman --charset cp-1251 --links --pagelayout twoleft --permissions all</Contract>
  <ContractEnclosure>-t pdf14 --size A4 --pagemode document --webpage --no-title --embedfonts --header ... --header1 ... --footer .1. --headingfont Times --bodyfont Times --headfootsize 13.0 --headfootfont Times-Roman --charset cp-1251 --links --permissions all</ContractEnclosure>
  <Invoice>-t pdf14 --size A4 --pagemode document --webpage --no-title --embedfonts --header ... --header1 ... --footer ... --headingfont Times --bodyfont Times --headfootsize 13.0 --headfootfont Times-Roman --charset cp-1251 --links --jpeg=100 --no-compression --permissions all</Invoice>
  <WorksCompliteReport>-t pdf14 --size A4 --pagemode document --webpage --no-title --embedfonts --header ... --header1 ... --footer .1. --headingfont Times --bodyfont Times --headfootsize 13.0 --headfootfont Times-Roman --charset cp-1251 --links --permissions all</WorksCompliteReport>
  <Envelope>-t pdf14 --size 29x21cm --browserwidth 1280 --left 1cm --top 1cm --right 1cm --bottom 1cm --pagemode outline --webpage --no-title --embedfonts --header1 ... --header ... --footer ... --headingfont Arial --bodyfont Arial --fontsize 12.0 --headfootfont Arial --charset cp-1251 --links --pagelayout one --permissions all</Envelope>
  <Clause>-t pdf14 --size A4 --pagemode document --webpage --no-title --embedfonts --header1 ... --header ... --footer .1. --headingfont Times --bodyfont Times --headfootsize 13.0 --headfootfont Times-Roman --charset cp-1251 --links --pagelayout twoleft --permissions all</Clause>
  <Statistics>-t pdf14 --size 29x21cm --browserwidth 1280 --left 1cm --top 1cm --right 1cm --bottom 1cm --pagemode outline --webpage --no-title --embedfonts --header1 ... --header ... --footer .1. --headingfont Arial --bodyfont Arial --fontsize 12.0 --headfootfont Arial --charset cp-1251 --links --pagelayout one --permissions all</Statistics>
  <VerifyReport>-t pdf14 --size 29x21cm --browserwidth 1280 --left 1cm --top 1cm --right 1cm --bottom 1cm --pagemode outline --webpage --no-title --embedfonts --header1 ... --header ... --footer .1. --headingfont Arial --bodyfont Arial --fontsize 12.0 --headfootfont Arial --charset cp-1251 --links --pagelayout one --permissions all</VerifyReport>
 </Modes>
</HTMLDOC>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Executor>
 <IsNds>0</IsNds>
 <WorksCompliteDate>1</WorksCompliteDate>
 <Currency>
  <Format>%01.2f</Format>
  <Name>руб</Name>
 </Currency>
</Executor>
<!-- *********************************************************************** -->
<!-- *********************************************************************** -->
<Statuses>
 <Contracts>
  <OnForming>
   <Name>На формировании</Name>
  </OnForming>
  <Public>
   <Name>Публично заключен</Name>
  </Public>
  <Complite>
   <Name>Заключен</Name>
  </Complite>
  <Breaked>
   <Name>Расторгнут</Name>
  </Breaked>
 </Contracts>
 <ContractsEnclosures>
  <OnForming>
   <Name>На формировании</Name>
  </OnForming>
  <Waiting>
   <Name>Ожидается</Name>
  </Waiting>
  <Complite>
   <Name>Заключено</Name>
  </Complite>
  <Breaked>
   <Name>Расторгнуто</Name>
  </Breaked>
 </ContractsEnclosures>
 <Edesks>
  <Newest>
   <Name>Новый</Name>
  </Newest>
  <Opened>
   <Name>Ожидает ответа</Name>
  </Opened>
  <Working>
   <Name>В работе</Name>
  </Working>
  <Closed>
   <Name>Закрыт</Name>
  </Closed>
 </Edesks>
 <Invoices>
  <Rejected>
   <Name>Отменен</Name>
  </Rejected>
  <Waiting>
   <Name>Ожидание оплаты</Name>
  </Waiting>
  <Conditionally>
   <Name>Условно оплачен</Name>
  </Conditionally>
  <Payed>
   <Name>Оплачен</Name>
  </Payed>
 </Invoices>
 <MotionDocuments>
  <UnSet>
   <Name>Не определён</Name>
  </UnSet>
  <Waiting>
   <Name>Ожидает обработки</Name>
  </Waiting>
  <OnPrint>
   <Name>На печати документов</Name>
  </OnPrint>
  <OnSign>
   <Name>На подписи</Name>
  </OnSign>
  <Sended>
   <Name>Отправлено заказчику</Name>
  </Sended>
  <Received>
   <Name>Получен исполнителем</Name>
  </Received>
 </MotionDocuments>
 <Orders>
  <Waiting>
   <Name>Ожидание оплаты</Name>
  </Waiting>
  <OnCreate>
   <Name>На создании</Name>
  </OnCreate>
  <Active>
   <Name>Активен</Name>
  </Active>
  <OnProlong>
   <Name>На продлении</Name>
  </OnProlong>
  <Suspended>
   <Name>Заблокирован</Name>
  </Suspended>
  <Deleted>
   <Name>Удален</Name>
  </Deleted>
 </Orders>
 <Profiles>
  <OnFilling>
   <Name>На заполнении</Name>
  </OnFilling>
  <Filled>
   <Name>Заполнен</Name>
  </Filled>
  <Rejected>
   <Name>Отклонен</Name>
  </Rejected>
  <Checked>
   <Name>Проверен</Name>
  </Checked>
 </Profiles>
</Statuses>
<!-- *********************************************************************** -->
</XML>
