<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->

Обращаем Ваше внимание, что Вами была подана заявка на перенос домена <STRONG>"%DomainOrder.DomainName%.%DomainOrder.Name%"</STRONG>. Инструкции по переносу были высланы на ваши контактные данные (Email/Jabber/Telegram/VK). Если документы не будут поданы в течение %TransferDaysRemainded% дней, то заявка на перенос будет автоматически удалена. В случае каких-либо вопросов, вы можете обратится в <STRONG><a href="/Tickets">[систему тикетов]</a></STRONG>.

