<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->

Обращаем Ваше внимание, что заказ <STRONG>"%ServiceOrder.Login%"</STRONG> на услугу <STRONG>"%Order.NameShort%"</STRONG> с тарифный план <STRONG>"%ServiceOrder.SchemeName%"</STRONG> удалён.
<BR />Если Вам необходимо восстановить его, то обратитесь в <STRONG><A href="/Tickets">[систему тикетов]</A></STRONG> и создайте запрос о восстановлении.
<BR />Потребуется сделать заказ с тем же или большим тарифом, на срок не менее 4 месяцев.
<BR />Также, вы можете его окончательно <STRONG><A style='cursor: pointer; text-decoration:underline;' onclick="ShowConfirm('Вы подтверждаете удаление заказа %ServiceOrder.Login%?','AjaxCall(\'/API/Delete\',{RowsIDs:%ServiceOrder.ID%,TableID:\'%TableID%\'},\'Удаление заказа\',\'GetURL(document.location);\');');">[удалить]</A></STRONG>.

