<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->

Обращаем Ваше внимание, что Вами пока еще не определён владелец для заказа домена <STRONG>"%DomainOrder.DomainNameFull%"</STRONG> и в связи с этим мы не можем выполнить данный заказ. Однако, Вы можете произвести эту операцию позже, например, после оплаты счета. Для того, чтобы определить владельца сейчас, пожалуйста, нажмите на кнопку <STRONG><A href="javascript:ShowWindow('/DomainSelectOwner',{DomainOrderID:%DomainOrder.ID%});">[определить]</A></STRONG>

