<!-- 
/** @author Alex Keda, for www.host-food.ru  */
-->

<TABLE id="Window" style="display:none;position:absolute;left:-1000;top:-1000;" cellspacing="0" cellpadding="0">
 <TR>
  <TD>
   <TABLE class="WindowHeader" width="100%" cellspacing="0" cellpadding="0">
    <TR>
     <TD class="WindowTitle" id="WindowTitle" />
     <TD width="20">
      <BUTTON class="Transparent" title="Закрыть окно" onclick="HideWindow();">
       <IMG src="SRC:{Images/Icons/Close.gif}" width="15" height="15" alt="Закрыть" border="0" />
      </BUTTON>
     </TD>
    </TR>
   </TABLE>
  </TD>
 </TR>
 <TR>
  <TD id="WindowBody" style="padding:5px;" />
 </TR>
</TABLE>
